<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="sooraj.v@cabotsolutions.com"/>
    <add key="Password" value="suraj1304"/>
    <add key="Port" value="587"/>
    <add key="To" value="noyal.vincy@cabotsolutions.com"/>
  </appSettings>
</configuration>